:root {
    --bright-color: #edddd4;
    --color-green: #197278;
    --color-pink: #D8315B;
    --font-color: #283d3b;


    --title-font: 'Quicksand', sans-serif;
}

body {
    box-sizing: border-box;

    margin: 0;
    padding: 0;

    background-color: var(--bright-color);

    font-family: var(--title-font);
    color: var(--font-color);
}

ul {
    list-style-type: none;
    padding: 0 1.5rem 0 1rem;
    line-height: 3rem;
}

a {
    text-decoration: none;
}

i {
    margin-right: 1rem;
}

header {
    display: flex;
    justify-content: space-between;

    margin-bottom: 1rem;
    padding: 1rem 2.9rem;
}

#hamburger-menu,
#cart-icon {
    padding: .8rem 1.2rem;
    border-radius: 10%;

    color: var(--bright-color);
    font-size: 1.5rem;

    background-color: var(--color-green);

    cursor: pointer;
    z-index: 10;
}

nav {
    position: absolute;
    top: 0;

    width: 9.5rem;
    height: 100%;

    transform: translateX(-10rem);

    padding-top: 3.8rem;

    background-color: var(--color-green);

    transition: transform 350ms ease-in-out;
}

.menu-active {
    transform: translateX(0);
}

nav a {
    color: var(--bright-color);
    font-weight: 500;
}

main h1 {
    font-size: 1.8rem;
    margin: 0 1rem;
}

#products {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: center;

    text-align: center;
}

#products h2 {
    padding: .3rem 1rem;
    border-bottom: .3rem solid #fff;
    background-color: var(--color-pink);

    color: #fff;
}

#products h3 {
    margin-bottom: 0;
    padding-bottom: 0;
}

.add-to-cart {
    margin-bottom: 3rem;
}

#products p {
    font-variant: small-caps;
    font-size: 1.5rem;
}

#products .product-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20rem;
    height: 25rem;

    margin: 0 auto;

    overflow: hidden;
}

#products img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#products a {
    padding: .75rem 3rem;
    background-color: var(--color-green);

    font-size: 1.2rem;
    color: #fff;
    text-decoration: none;
    font-weight: 500;

    cursor: pointer;
}

.cart-container {
    background-color: rgba(255, 255, 255, .9);

    position: absolute;
    top: 0;
    right: 0;

    transform: translateY(-110vh);

    width: 18rem;
    height: 100%;

    padding: 80px 10px 0;

    transition: transform 350ms ease-in-out;
}

.cart-container>p {
    margin: 0;
    padding: 0 5px 10px;

    font-size: 1.1rem;
    font-weight: 800;
    text-transform: uppercase;
    color: var(--font-color);

    border-bottom: 2px solid var(--color-green);
}

.cart-items {
    margin: 0;
    padding: 0 0 0 5px;

    font-size: .9rem;

    text-overflow: hidden;
}

.cart-items>li {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-items>li>div:first-child {
    display: flex;
    justify-content: space-between;
    min-width: 12rem;
}


.cart-items>li:last-child {
    display: flex;
    justify-content: space-between;
    align-items: center;

    border-top: 1px dashed var(--color-green);
    font-size: 1rem;
    font-weight: 600;
}


.cart-container-active {
    transform: translateY(0);
}

@media (min-width: 480px) {

    #products .product-image-container {
        width: 20rem;
    }
}